//nextflow config file for running on RTU HPC.  work in progress

/*
apptainer {
  enabled = true
}
*/
// problems when running hello world test with apptainer profile or config

/*
singularity {
	enabled = true
	autoMounts = true
}
*/
// problems when including these singularity configs along with -profile singularity

process {
	beforeScript = 'module load singularity/3.11.4'
	executor = 'pbs'
	queue = { task.time <= 96.h ? 'batch' : 'long' } //need to check with a real workflow if proper queue is assigned
//	clusterOptions = { "-l nodes=1:ppn=${task.cpus}:pmem=10gb" }
}

params {
	max_memory = 1280.GB
	max_cpus = 128
	max_time = 336.h
}

// Preform work directory cleanup after a successful run
cleanup = true
