//nextflow config file for running on RTU HPC.  work in progress

/*
apptainer {
  enabled = true
}
*/
// problems when running hello world test with apptainer profile or config

process {
//	beforeScript = 'module load apptainer/apptainer-1.1.6'
	executor = 'pbs'
	queue = { task.time <= 96.h ? 'batch' : 'long' } //need to check with a real workflow if proper queue is assigned
}

params {
	max_memory = 1280.GB
	max_cpus = 128
	max_time = 336.h
}

dag {
	enabled = true
	file = 'dag.html'
	overwrite = true
}
